@import "../../colors";
.navbar {
  &__dropdown-surface {
    background: none;
    color: white;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: default;
    &__content {
      display: none;
      position: absolute;
      background-color: none;
      min-width: 200px;
      z-index: 1;
      box-shadow: 0px 8px 16px 0px black;
      border-radius: 10px;
      margin-top: 10px;
      div {
        color: white;
        display: block;
        background: none;
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
      }
      div:hover {
        background: $gray-blue;
      }
      div:active {
        background: $blue;
      }
    }
  }
  &__dropdown-surface:hover {
    background: $gray-blue;
    border-radius: 10px;
    .navbar__dropdown-surface__content {
      display: block;
      position: absolute;
      background: none;
    }
  }

  &__dropdown-population {
    background: none;
    color: white;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: default;
    &__content {
      display: none;
      position: absolute;
      background-color: none;
      min-width: 200px;
      z-index: 1;
      box-shadow: 0px 8px 16px 0px black;
      border-radius: 10px;
      margin-top: 10px;
      div {
        color: white;
        display: block;
        background: none;
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
      }
      div:hover {
        background: $gray-blue;
      }
      div:active {
        background: $blue;
      }
    }
  }
  &__dropdown-population:hover {
    background: $gray-blue;
    border-radius: 10px;
    .navbar__dropdown-population__content {
      display: block;
      position: absolute;
      background: none;
    }
  }

  &__dropdown-gdp {
    background: none;
    color: white;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: default;
    &__content {
      display: none;
      position: absolute;
      background-color: none;
      min-width: 200px;
      z-index: 1;
      box-shadow: 0px 8px 16px 0px black;
      border-radius: 10px;
      margin-top: 10px;
      div {
        color: white;
        display: block;
        background: none;
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
      }
      div:hover {
        background: $gray-blue;
      }
      div:active {
        background: $blue;
      }
    }
  }
  &__dropdown-gdp:hover {
    background: $gray-blue;
    border-radius: 10px;
    .navbar__dropdown-gdp__content {
      display: block;
      position: absolute;
      background: none;
    }
  }
  &__button-clear {
    visibility: hidden;
    background: none;
    color: white;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    margin-left: 50px;
    cursor: default;
    &.shown {
      visibility: visible;
    }
    &.shown:hover {
      background: $gray-blue;
      border-radius: 10px;
    }
    &.shown:active {
      background: $blue;
    }
  }
  &__modal {
    background: $gray-blue-opacity;
    height: 770px;
    width: 1500px;
    opacity: 0.9;
    display: block;
    margin: auto;
    box-shadow: 0px 8px 16px 0px gainsboro;
    border-radius: 10px;
    &__header {
      color: white;
      font-size: 25px;
      margin-left: 1400px;
      //margin-right: 10px;
      padding:10px;
      text-align: center;
      cursor: default;
    }
    &__header:hover {
      background: $blue;
      border-radius: 10px;
    }
  }
}
