@import "../../colors";
.navbar {
  border: 2px solid $gray-blue;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  &__dropdown-surface {
    background: none;
    color: $gray-blue;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: default;
    &__content {
      display: none;
      position: absolute;
      min-width: 200px;
      z-index: 2;
      box-shadow: 0px 4px 8px 0px gray;
      border-radius: 10px;
      margin-top: 10px;
      border-radius: 10px;
      div {
        color: $gray-blue;
        display: block;
        background: none;
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
      }
      div:hover {
        background: $pink;
        color: white;
      }
      div:active {
        background: $active-color;
      }
    }
  }
  &__dropdown-surface:hover {
    background: $pink;
    border-radius: 10px 0px 0px 10px;
    color: white;
    .navbar__dropdown-surface__content {
      display: block;
      position: absolute;
      background: $dropdown-color;
    }
  }

  &__dropdown-population {
    background: none;
    color: $gray-blue;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: default;
    &__content {
      display: none;
      position: absolute;
      background-color: none;
      min-width: 200px;
      z-index: 1;
      box-shadow: 0px 4px 8px 0px gray;
      border-radius: 10px;
      margin-top: 10px;
      div {
        color: $gray-blue;
        display: block;
        background: none;
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
      }
      div:hover {
        background: $pink;
        color: white;
      }
      div:active {
        background: $active-color;
      }
    }
  }
  &__dropdown-population:hover {
    background: $pink;
    color: white;
    .navbar__dropdown-population__content {
      display: block;
      position: absolute;
      background: $dropdown-color;
    }
  }

  &__dropdown-gdp {
    background: none;
    color: $gray-blue;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: default;
    &__content {
      display: none;
      position: absolute;
      background-color: none;
      min-width: 200px;
      z-index: 1;
      box-shadow: 0px 4px 8px 0px gray;
      border-radius: 10px;
      margin-top: 10px;
      div {
        color: $gray-blue;
        display: block;
        background: none;
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
      }
      div:hover {
        background: $pink;
        color: white;
      }
      div:active {
        background: $active-color;
      }
    }
  }
  &__dropdown-gdp:hover {
    background: $pink;
    border-radius: 0px 10px 10px 0px;
    color: white;
    .navbar__dropdown-gdp__content {
      display: block;
      position: absolute;
      background: $dropdown-color;
    }
  }
  &__button-clear {
    display: none;
    background: none;
    color: $gray-blue;
    font-size: 25px;
    position: relative;
    //display: inline-block;
    padding: 10px;
    margin-left: 50px;
    cursor: default;
    &.shown {
      display: inline-block;
    }
    &.shown:hover {
      background: $pink;
      border-radius: 10px;
      color: white;
    }
    &.shown:active {
      background: $active-color;
    }
  }
}
.navbar__modal {
  &__close {
    color: $gray-blue;
    font-size: 25px;
    padding: 10px;
    float: right;
    width: fit-content;
  }
  &__close:hover {
    background: $pink;
    color: white;
    border-radius: 10px;
  }
  &__close:active {
    background: $active-color;
    color: white;
    border-radius: 10px;
  }
}
