@import "../../colors";

svg {
  position: fixed;
  height: 800px;
  width: 1200px;
  cursor: grab;
  display: block;
  margin-top: 1%;
  .country {
    stroke: $gray-blue;
  }
}
svg:active {
  cursor: grabbing;
}
text {
  position: fixed;
  display: flex;
  top: 15%;
  left: 2%;
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-weight: bold;
  background-color: $dropdown-color;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  color: $gray-blue;
  opacity: 0;
}
